# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE-specific files (optional)
.idea/
.vscode/

# Ignore any build output
dist/
build/
