body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(90deg, #4CAF50, #2196F3);
    padding: 10px 20px;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2196F3;
}

/* Table Section */
.dashboard-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Allows wrapping when screen is narrow */
}

.dashboard-section {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: calc(33.333% - 10px); /* Three sections per row */
}

/* Chart Section */
.chart-container-horizontal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Allows wrapping when screen is narrow */
}

.chart-container {
    flex: 1;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    max-width: calc(33.333% - 10px); /* Three charts per row */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.chart-container h3 {
    margin-bottom: 10px;
    color: #2196F3;
}

canvas {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* Table Styles */
table {
    margin: 0 auto 20px auto;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

thead th {
    background-color: #2196F3;
    color: white;
}
